/.vs
/packages
/Common/Sima.Common.Validation/bin
/Common/Sima.Common.Service/bin
/Common/Sima.Common.Plugin/bin
/Common/Sima.Common.Model/bin
/Common/Sima.Common.Logging/bin
/Common/Sima.Common.Helper/bin
/Common/Sima.Common.Constant/bin
/Common/Sima.App.Repository.OrmLite/bin
/Common/Sima.App.Repository/bin
/Common/Sima.App.Plugin/bin
/Common/PT.Common.Repository.OrmLite/bin
/Common/PT.Common.Repository/bin
/Agency.Tests/bin
/Agency.ServiceModel/bin
/Agency.ServiceInterface/bin
/Agency.RepositoryInterface/bin
/Agency.Repository/bin
/Agency/obj/Release/Package/PackageTmp/bin
/Agency/bin
/Common/PT.Common.Repository/obj
/Agency.Tests/obj
/Agency.ServiceModel/obj
/Agency.ServiceInterface/obj
/Agency.RepositoryInterface/obj
/Agency.Repository/obj
/Agency/obj
/Common/Sima.Common.Validation/obj
/Common/Sima.Common.Service/obj
/Common/Sima.Common.Plugin/obj
/Common/Sima.Common.Model/obj
/Common/Sima.Common.Logging/obj
/Common/Sima.Common.Helper/obj
/Common/Sima.Common.Constant/obj
/Common/Sima.App.Repository.OrmLite/obj
/Common/Sima.App.Repository/obj
/Common/Sima.App.Plugin/obj
/Common/PT.Common.Repository.OrmLite/obj
/Agency/Web.Release.config
/Agency/Web.config
/Agency/Web.Debug.config
/Agency/Properties/PublishProfiles
