<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sagency.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sagency.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sagency</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sagency</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Agency_Test" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=DESKTOP-6CH829L\SQLEXPRESS;database=Agency_Test;uid=agency;pwd=YjLeH3Hpob;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Agency_Test_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=DESKTOP-6CH829L\SQLEXPRESS;database=Agency_Test;uid=agency;pwd=YjLeH3Hpob;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sentinel0" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="redis://127.0.0.1:26380?db=0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Sentinel0_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="redis://127.0.0.1:26380?db=0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sentinel1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="redis://127.0.0.1:26381?db=0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Sentinel1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="redis://127.0.0.1:26381?db=0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Sentinel2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="redis://127.0.0.1:26382?db=0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Sentinel2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="redis://127.0.0.1:26382?db=0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Agency" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=DESKTOP-6CH829L\SQLEXPRESS;database=Agency;uid=agency;pwd=YjLeH3Hpob;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Agency_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=DESKTOP-6CH829L\SQLEXPRESS;database=Agency;uid=agency;pwd=YjLeH3Hpob;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Agency-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Agency_Test-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sentinel0-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sentinel1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sentinel2-Web.config Connection String" />
  </ItemGroup>
</Project>